expelc/expelc
expelc/expeli
runexpel/runexpel

dist
build
*.pyc
*.o
*.a
/*.xl
test/afl-out
a.out

**/Makefile
**/*.in
**/.deps

aclocal.m4
ar-lib
autom4te.cache
config.h*
configure
configure.scan
compile
config.log
config.status
depcomp
install-sh
missing
stamp-h1
test-driver
ylwrap

TAGS
